.header{
    height: 39px;
    font-size:20px;
    font-family: "Segoe UI";
    font-weight: bold;
    color: #26226E;

    display: flex;
    justify-content: space-between;
}

.social img{
    padding-left: 5px;
    padding-right: 5px;
}

input[type=number] {
    -moz-appearance: textfield;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header p{
    margin: 0%;
}

.main{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    
    background-image: url("background.png");
    background-size: cover;
}

.box{
    height: 460px;
    width: 429px;
    background-color: white;
    border-radius: 27px;

    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-family: "Segoe UI";
}

.box #welcome{
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 0%;

    font-size: 60px;
    color: #26226F;
}

.box p{
    font-size: 20px;
    color: #707070;
    padding-top: 12px;
    padding-bottom: 5px;
    margin: 0;   
}

.box input{
    width: 300px;
    height: 33px;
    font-size: 15px;
    opacity: 80%; 
}

.button{
    width: 150px;
    height: 50px;
    background-color: #529BD2;
    border: none;
    border-radius: 27px;

    display: block;
    margin-top: 30px;
    margin-left: 32%;

    color: white;
    font-family: "Segoe UI";
    font-size: 25px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: #24226B;
}

/* a{
    text-decoration: none;
    font-size: 14px;
    color: #26226E;
    display: block;
    margin-left: 40%;
} */

a:hover{
    text-decoration: underline;
    color: #569DD5;
}
.footer {
    height: 6%;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    opacity: 80%;

    background-color: white;
    display: flex;
    justify-content: space-between;

    font-family: "Segoe UI";
}

.footer p{
    margin: 10px 0px 0px 0px;
    padding-left: 20px;
}

.social img{
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer a{ 
    text-decoration: none;
}

.footer a:hover{
    cursor: pointer;
    text-decoration: none;
}
